<div class="page" id="dashboard">

<h2>{{community.name}}</h2>

    <div class="col-md-6" id="guests">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Guests</h3>
        </div>
        <div class="panel-body">
            <ul class="feed-list">
            {{#each guests}}
                <li class="well">
                <form action="/updateGuest/{{_id}}" method="POST">
                    <label class="form-group">{{name}}</label><br> 
                    <label class="form-group">{{status}}</label>
                    <button class="form-control form-group btn-primary" type="submit">Confirm</button>
                </form>
                </li>
            {{/each}}
            </ul>
        </div>
        </div>   
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New Guest</h3>
            </div>
            <div class="panel-body">
                <form action="/guestRequest" method="POST">
                    <input class="form-control form-group" name="guestName" placeholder="New Guest's' Name">
                    <input class="form-control form-group" name="unitName" placeholder="Unit Visiting">
                    <input class="form-control form-group" name="superUnit" placeholder="{{community.superUnitType}}">
                    <button class="form-control form-group btn-primary" type="submit">Send Request</button>
                </form>
            </div>
        </div>
    </div>
</div>